{% extends "base.html" %} {% block content %}
<main class="container mt-5">
  <section class="mb-5 text-center">
    <h2 style="color: #3a833a">Introducing ConsumerWise</h2>
    <img
      src="../static/images/logo.jpg"
      alt="Introducing ConsumerWise"
      class="img-fluid mb-3 rounded-circle"
      style="width: 200px"
    />
    <p class="lead" style="color: #3a833a">
      Your all-in-one nutrition analysis app designed to empower informed
      decisions about your diet.
    </p>
  </section>

  <section class="mb-5 text-center">
    <p>
      Ever stopped to think about the hidden nutritional content in many
      packaged products? Ever wondered how it could affect your health?
      <strong>ConsumerWise is here to help!</strong>
    </p>

    <h3>The Importance of Knowing Your Food</h3>
    <p>
      Understanding the nutritional content of packaged products is crucial for
      maintaining a healthy lifestyle. Many consumers are unaware of the
      ingredients and additives in their food, which can lead to unhealthy
      choices. By educating yourself about what you’re consuming, you can make
      informed and sustainable decisions that benefit both your health and the
      environment.
    </p>
  </section>

  <section class="mb-5 text-center">
    <h3>Make Informed Choices</h3>
    <p>
      What if there was a way to make informed choices and become a more
      conscious consumer? ConsumerWise simplifies the complexities of food
      labels, providing clear and accessible information at your fingertips.
    </p>
  </section>

  <section class="mb-5 text-center">
    <h3 class="mb-3">What ConsumerWise Offers</h3>
    <div class="row justify-content-center">
      <!-- Added justify-content-center -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Easy Label Scanning</h5>
            <img
              src="../static/images/scanner.webp"
              alt="Easy Label Scanning"
              class="img-fluid mb-3 rounded"
              style="height: 200px"
            />
            <p class="card-text">
              Scan product labels to receive instant nutritional insights.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Personalized Insights</h5>
            <img
              src="../static/images/insight.avif"
              alt="Easy Label Scanning"
              class="img-fluid mb-3 rounded"
              style="height: 200px"
            />
            <p class="card-text">
              Get tailored advice from our chatbot based on your dietary needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Be Aware and Eat Healthy!</h5>
            <img
              src="../static/images/healthy.webp"
              alt="Easy Label Scanning"
              class="img-fluid mb-3 rounded"
              style="height: 200px"
            />
            <p class="card-text">
              Never get fooled by misleading labels again. Make healthier
              choices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5 text-center">
    <h3>The Future of Conscious Consumption</h3>
    <p>
      We envision a world where consumers are equipped with the knowledge they
      need to make healthier choices. Together, we can foster a community of
      informed eaters who prioritize their health and well-being.
    </p>
  </section>

  <section class="text-center">
    <h3>Join Us</h3>
    <p>
      Embark on this journey toward better nutrition and healthier living.
      Together, we can transform the way we interact with food.
    </p>
  </section>
</main>
{% endblock %}
